body {
   font-family: sans-serif;
   margin: 20px;
   padding: 0;
}
/* .square{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    line-height: 34px;
    height: 34px;
    width: 34px ;
    float: left;
    margin-top: -1px;
    margin-right: -1px;

}
.row ::after{
    content: '';
    clear: both;
    display: table;
} */